In [ ]:
#1.Write Python code that prints your name,student number and email address.

In [9]:
name="seeniya george"
Student_No="28"
Email_address="1234@gamil.com"

In [11]:
print (name)
print(Student_No)
print(Email_address)

seeniya george
28
1234@gamil.com

In [13]:
d1={"name:seeniya","student_no:28","email_address:1234@gmail.com"}
d1

{'email_address:1234@gmail.com', 'name:seeniya', 'student_no:28'}

In [ ]:
# 2.Write python code prints your name,student number and email address using escape sequences

In [15]:
name="Seeniya George"
Student_Number="28"
email_address="1234@gmail.com"

In [17]:
print("Seeniya George")
print("28")
print("1234@gmail.com")

Seeniya George
28
1234@gmail.com

In [ ]:
# 3.Write python code that add,substract,multiply and divide the two numbers.you can use the two numbers 14 and 7.

In [19]:

a=14
b=7
c=a+b
d=a-b
e=a/b
f=a*b

In [21]:
print(a,b,c,d,e,f)

14 7 21 7 2.0 98

In [23]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

21
7
98
2.0

In [ ]:
#4.write python code that displays the numbers from 1 to 5 as steps.

In [7]:

count=1
while count<6:
    print(count)
    count+=1

1
2
3
4
5

In [ ]:
#5.Write python code that outputs the following sentence(including the quotation marks and line break)to the screen:

In [5]:
print("\"SDK\"stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK"stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [ ]:
# 6.practice and check the output

In [25]:
print("python is an\"awesome\"language.")
print("python\n\t2023")
print('l\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri","2023",sep="\n")
print("entri","2023",sep="\b")
print("Entri","2023",sep="*",end="\b\b\b\b")

python is an"awesome"language.
python
	2023
l'm from Entri
5
e
Entri
2023
entr2023
Entri*20

In [ ]:
# 7.Define the vaariables below.print the type of each varible.what is the sum of your variables?9Hint:use a type conversion function,) what datatype is the sum?

In [27]:
num = 23
textnum = "57"
decimal = 98.3

print(f"Type of num:{type(num)}")
print(f"Type of textnum:{type(textnum)}")
print(f"Type of Decimal:{type(decimal)}")

#convert textnum to int for sum
sum = num + int(textnum) + decimal
print(f"sum:{sum}")
print(f"type of sum:{type(sum)}")

Type of num:<class 'int'>
Type of textnum:<class 'str'>
Type of Decimal:<class 'float'>
sum:178.3
type of sum:<class 'float'>

In [ ]:
#8.calculate the number of minutes in a year using varibles for each unit of time,printstatement that describes what your code does also.create three varibles to store no of days in a year,minute in a hour,hours in a day,then calculate the total minutes in a year and print the values(hint)total numbers of minutes in an year= No.of days in an year*hours in a day* minutes in an hour

In [29]:
#calculate minutes in a year

days_in_year = 365
hours_in_day = 24
minutes_in_hour =60

total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"Calculating total minutes in a year...")
print(f"total minutes in a year:{total_minutes}")

Calculating total minutes in a year...
total minutes in a year:525600

In [31]:
# 9.Write Python code that asks the user to enter his/her name and then output/print his/her name with a greeting
An example runs of the program:
please enter your name:tony
Hi tony,welcome to python programming:

SyntaxError: invalid syntax (4124086447.py, line 2)

In [33]:
def greet(name):
    return f"Hello {name}!"
print(greet("seeniya ,Welcome to python programming"))

Hello seeniya ,Welcome to python programming!

In [ ]:
# 10.name your file :pounts to Dollers.py
write a program that asks the user to enter an amount in pounts and the program calculates and converts an amount on doller($)
An example runs of the program:
please enter amount in pounts:xxx

In [3]:
# conversion rate from dollars to pounts(example)
conversion_rate = 0.75 # dollar = 0.75 pounds
# input from users
dollars = float(input("please enter amount in dollars:"))
# check if the amount is valid
if dollars <0:
    print("please enter a non-negative amount.")
else:
    # convert dollars to pounts
    pounds= dollars * conversion_rate
    print(f"{dollars} dollars is equal to {pounds} pounds.")

please enter amount in dollars: 100

100.0 dollars is equal to 75.0 pounds.